<mat-card fxFlex fxFlexAlign="start center">
  <mat-toolbar fxFlex color="primary">{{LangPack.hasOwnProperty('FuncList')?LangPack['FuncList']:'FuncList'}}</mat-toolbar>
  <mat-card-content fxFlex class="Grid">
    <div>
      <mat-expansion-panel *ngIf="this.PrivilegeTypeInst.Search">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{LangPack.hasOwnProperty('SearchCriteria')?LangPack['SearchCriteria']:'SearchCriteria'}}
          </mat-panel-title>
          <mat-panel-description>
            {{LangPack.hasOwnProperty('InputSearchCriteria')?LangPack['InputSearchCriteria']:'InputSearchCriteria'}}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div fxFlex fxLayout="row" fxLayout.xs="column" fxFlexAlign="center center" fxLayoutGap="8px">

          <mat-form-field fxFlex.xs>
            <input type="text" matInput name="SearchFuncPath" [(ngModel)]="SearchCriteria.FuncPath" placeholder="{{LangPack.hasOwnProperty('Path')?LangPack['Path']:'Path'}}">
          </mat-form-field>

          <mat-form-field fxFlex.xs>
            <input type="text" matInput name="SearchFuncKey" [(ngModel)]="SearchCriteria.FuncKey" placeholder="{{LangPack.hasOwnProperty('FuncKey')?LangPack['FuncKey']:'FuncKey'}}">
          </mat-form-field>
        </div>

        <div fxFlex fxLayout="row" fxLayout.xs="column" fxFlexAlign="center center" fxLayoutGap="8px">
          <div>{{LangPack.hasOwnProperty("Status")?LangPack["Status"]+":":"Status:"}}</div>
          <mat-radio-group [(ngModel)]="SearchCriteria.Status" name="SearchStatus" fxFlexFill fxFlexAlign="center center" fxLayout="row"
            fxLayout.xs="column">
            <div fxFlex.xs fxFlex="20" fxFlexAlign="start center">
              <mat-radio-button value="null">{{LangPack.hasOwnProperty('All')?LangPack['All']:'All'}}</mat-radio-button>
            </div>
            <div fxFlex.xs fxFlex="20" fxFlexAlign="start center">
              <mat-radio-button value="1">{{LangPack.hasOwnProperty('Active')?LangPack['Active']:'Active'}}</mat-radio-button>
            </div>
            <div fxFlex.xs fxFlex="20" fxFlexAlign="start center">
              <mat-radio-button value="2">{{LangPack.hasOwnProperty('InActive')?LangPack['InActive']:'InActive'}}</mat-radio-button>
            </div>
          </mat-radio-group>
        </div>
        
        <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center" style="margin-top: 8px;">

          <button mat-button color="primary" (click)="OnSearch()">{{LangPack.hasOwnProperty('Search')?LangPack['Search']:'Search'}}</button>

          <button mat-button color="primary" (click)="OnClear()">{{LangPack.hasOwnProperty('Clear')?LangPack['Clear']:'Clear'}}</button>

        </div>
      </mat-expansion-panel>
    </div>
    <!-- fxHide.xs="true" -->
    <div fxLayout="row" fxLayout.xs="column" fxFlexFill>
      <div class="Header" fxFlex="10" fxFlex.xs fxFlex.sm="30" fxLayoutAlign="start center" (click)="OnSort('FuncPath')">
        <a matLine class="link">{{LangPack.hasOwnProperty('Path')?LangPack['Path']:'Path'}}</a>
        <button mat-icon-button *ngIf="SortColumn=='FuncPath'">
          <mat-icon>{{(SortDir=='asc')?'keyboard_arrow_up':'keyboard_arrow_down'}}</mat-icon>
        </button>
      </div>
      <div class="Header" fxFlex="10" fxFlex.xs fxFlex.sm="30" fxLayoutAlign="start center" (click)="OnSort('FuncKey')">
        <a matLine class="link">{{LangPack.hasOwnProperty('FuncKey')?LangPack['FuncKey']:'FuncKey'}}</a>
        <button mat-icon-button *ngIf="SortColumn=='FuncKey'">
          <mat-icon>{{(SortDir=='asc')?'keyboard_arrow_up':'keyboard_arrow_down'}}</mat-icon>
        </button>
      </div>
      <div class="Header" fxFlex="30" fxHide.xs fxHide.sm fxLayoutAlign="start center">
        {{LangPack.hasOwnProperty('FuncName')?LangPack['FuncName']:'FuncName'}}
      </div>
      <div class="Header" fxFlex="10" fxFlex.xs fxFlex.sm="20" fxLayoutAlign="start center" (click)="OnSort('Status')">
        <a matLine class="link">{{LangPack.hasOwnProperty('Status')?LangPack['Status']:'Status'}}</a>
        <button mat-icon-button *ngIf="SortColumn=='Status'">
          <mat-icon>{{(SortDir=='asc')?'keyboard_arrow_up':'keyboard_arrow_down'}}</mat-icon>
        </button>
      </div>
      <div class="Header" fxFlex="20" fxHide.xs fxHide.sm fxLayoutAlign="start center" (click)="OnSort('Url')">
        <a matLine class="link">{{LangPack.hasOwnProperty('Url')?LangPack['Url']:'Url'}}</a>
        <button mat-icon-button *ngIf="SortColumn=='Url'">
          <mat-icon>{{(SortDir=='asc')?'keyboard_arrow_up':'keyboard_arrow_down'}}</mat-icon>
        </button>
      </div>
      <div class="Header" fxFlex="20" fxFlex.xs fxFlex.sm="20" fxLayoutAlign="center center">
        {{LangPack.hasOwnProperty('Operation')?LangPack['Operation']:'Operation'}}
      </div>
    </div>
    <div [@listAnimation]="FuncList">
      <div fxLayout="row" fxLayout.xs="column" fxFlexFill *ngFor="let func of FuncList;">
        <ng-container>
          <div class="ContentData" fxFlex="10" fxFlex.xs fxFlex.sm="30" fxLayoutAlign="start center" matTooltip="{{LangPack.hasOwnProperty('Path')?LangPack['Path']:'Path'}}">
            {{func.FuncPath}}
          </div>
          <div class="ContentData" fxFlex="10" fxFlex.xs fxFlex.sm="30" fxLayoutAlign="start center" matTooltip="{{LangPack.hasOwnProperty('FuncKey')?LangPack['FuncKey']:'FuncKey'}}">
            {{func.FuncKey}}
          </div>
          <div class="ContentData" fxFlex="30" fxHide.xs fxHide.sm fxLayoutAlign="start center" matTooltip="{{LangPack.hasOwnProperty('FuncName')?LangPack['FuncName']:'FuncName'}}">
            {{LangPack.hasOwnProperty(func.FuncKey)?LangPack[func.FuncKey]:func.FuncKey}}
          </div>
          <div class="ContentData" fxFlex="10" fxFlex.xs fxFlex.sm="20" fxLayoutAlign="start center" matTooltip="{{LangPack.hasOwnProperty('Status')?LangPack['Status']:'Status'}}">
            {{func.Status==0?"":(func.Status==1?(LangPack.hasOwnProperty("Active")?LangPack["Active"]:"Active"):(LangPack.hasOwnProperty("InActive")?LangPack["InActive"]:"InActive"))}}
          </div>
          <div class="ContentData" fxFlex="20" fxHide.xs fxHide.sm fxLayoutAlign="start center" matTooltip="{{LangPack.hasOwnProperty('Url')?LangPack['Url']:'Url'}}">
            {{func.Url}}
          </div>
          <div class="ContentData" fxFlex="20" fxFlex.xs fxFlex.sm="20" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
            <button mat-icon-button matTooltip="{{LangPack.hasOwnProperty('Edit')?LangPack['Edit']:'Edit'}}" (click)="OnEdit(func.ID)"
              [disabled]="!this.PrivilegeTypeInst.Update">
              <mat-icon class="md-22" aria-hidden="true">mode_edit</mat-icon>
            </button>

            <button mat-icon-button matTooltip="{{LangPack.hasOwnProperty('Delete')?LangPack['Delete']:'Delete'}}" (click)="OnDel(func.ID)"
              [disabled]="!this.PrivilegeTypeInst.Delete">
              <mat-icon class="md-22" aria-hidden="true">delete</mat-icon>
            </button>
          </div>
        </ng-container>
      </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column" *ngIf="TotalCount<=0">
      <ng-container>
        <div class="ContentData" fxLayoutAlign="start center">{{LangPack.hasOwnProperty('E019')?LangPack['E019']:'No record found.'}}</div>
      </ng-container>
    </div>
    <paging-bar [totalcount]="TotalCount" [pagesize]="PageSize" [pageindex]="PageIndex" [displaypagecount]="DisplayPageNum"
      (PageChange)="OnPageChange($event)" [langPackage]="LangPack"></paging-bar>
  </mat-card-content>
  <mat-card-actions class="ListAction">
    <button mat-raised-button color="primary" (click)="OnCreate()" [disabled]="!this.PrivilegeTypeInst.Create">{{LangPack.hasOwnProperty('CreateFunc')?LangPack['CreateFunc']:'CreateFunc'}}</button>
  </mat-card-actions>
</mat-card>
