<mat-card fxFlex fxFlexAlign="start center">
  <mat-toolbar fxFlex color="primary">{{LangPack.hasOwnProperty('RoleList')?LangPack['RoleList']:'RoleList'}}</mat-toolbar>
  <mat-card-content fxFlex class="Grid">
    <div>
      <mat-expansion-panel *ngIf="this.PrivilegeTypeInst.Search">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{LangPack.hasOwnProperty('SearchCriteria')?LangPack['SearchCriteria']:'SearchCriteria'}}
          </mat-panel-title>
          <mat-panel-description>
            {{LangPack.hasOwnProperty('InputSearchCriteria')?LangPack['InputSearchCriteria']:'InputSearchCriteria'}}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div fxFlex fxLayout="row" fxLayout.xs="column" fxFlexAlign="center center" fxLayoutGap="8px">
          <mat-form-field fxFlex.xs>
            <input type="text" matInput name="SearchRoleKey" [(ngModel)]="SearchCriteriaRole.RoleKey" placeholder="{{LangPack.hasOwnProperty('RoleKey')?LangPack['RoleKey']:'RoleKey'}}">
          </mat-form-field>
        </div>

        <div fxFlex fxLayout="row" fxLayout.xs="column" fxFlexAlign="center center" style="margin-top: 8px;">
          <button mat-button color="primary" (click)="OnSearch()">{{LangPack.hasOwnProperty('Search')?LangPack['Search']:'Search'}}</button>

          <button mat-button color="primary" (click)="OnClear()">{{LangPack.hasOwnProperty('Clear')?LangPack['Clear']:'Clear'}}</button>
        </div>
      </mat-expansion-panel>
    </div>
    <!-- fxHide.xs="true" -->
    <div fxLayout="row" fxFlexFill>
      <!-- <div class="CheckBoxCol"> </div> -->
      <div class="Header" fxFlex="50" fxFlex.xs fxLayoutAlign="start center" (click)="OnSort('RoleKey')">
        <!-- {{LangPack.hasOwnProperty("FuncKey")?LangPack["FuncKey"]:"FuncKey"}} -->
        <a matLine class="link">{{LangPack.hasOwnProperty('RoleKey')?LangPack['RoleKey']:'RoleKey'}}</a>
        <button mat-icon-button *ngIf="SortColumn=='RoleKey'">
          <mat-icon>{{(SortDir=='asc')?'keyboard_arrow_up':'keyboard_arrow_down'}}</mat-icon>
        </button>
      </div>
      <div class="Header" fxFlex="50" fxFlex.xs fxLayoutAlign="center center">
        {{LangPack.hasOwnProperty('Operation')?LangPack['Operation']:'Operation'}}
      </div>
    </div>
    <div [@listAnimation]="RoleList">
      <div fxLayout="row" *ngFor="let role of RoleList;">
        <ng-container>
          <div class="ContentData" fxFlex="50" fxFlex.xs fxLayoutAlign="start center" matTooltip="{{LangPack.hasOwnProperty('RoleKey')?LangPack['RoleKey']:'RoleKey'}}">
            {{role.RoleKey}}
          </div>
          <div class="ContentData" fxFlex="50" fxFlex.xs fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
            <button mat-icon-button matTooltip="{{LangPack.hasOwnProperty('Edit')?LangPack['Edit']:'Edit'}}" (click)="OnEdit(role.ID)"
              [disabled]="!this.PrivilegeTypeInst.Update">
              <mat-icon class="md-22" aria-hidden="true">mode_edit</mat-icon>
            </button>

            <button mat-icon-button matTooltip="{{LangPack.hasOwnProperty('Delete')?LangPack['Delete']:'Delete'}}" (click)="OnDel(role.ID)"
              [disabled]="!this.PrivilegeTypeInst.Delete">
              <mat-icon class="md-22" aria-hidden="true">delete</mat-icon>
            </button>
          </div>
        </ng-container>
      </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column" *ngIf="TotalCount<=0">
      <ng-container>
        <div class="ContentData" fxLayoutAlign="start center">{{LangPack.hasOwnProperty('E019')?LangPack['E019']:'No record found.'}}</div>
      </ng-container>
    </div>
    <paging-bar *ngIf="TotalCount!=null&&TotalCount>0" [totalcount]="TotalCount" [pagesize]="PageSize" [pageindex]="PageIndex"
      [displaypagecount]="DisplayPageNum" (PageChange)="OnPageChange($event)" [langPackage]="LangPack"></paging-bar>
  </mat-card-content>
  <mat-card-actions class="ListAction">
    <button mat-raised-button color="primary" (click)="OnCreate()" [disabled]="!this.PrivilegeTypeInst.Create">{{LangPack.hasOwnProperty('CreateRole')?LangPack['CreateRole']:'CreateRole'}}</button>
  </mat-card-actions>
</mat-card>
